<!-- HTML의 나머지 내용은 views/layouts/main.handlebars 를 보세요! -->
<h2>20212096 도지원</h2>
<p>여러가지 링크가 있습니다.</p>
<ul>
  <li><a href="/page1">1쪽</a></li>
  <li><a href="/page2">2쪽</a></li>
  <li><a href="/page3">3쪽</a></li>
  <li><a href="/page4">4쪽</a> (나는 안좋은 계란이야!)</li>
  <li><a href="/what">무엇인가요?</a> (나는 안좋은 알이야!)</li>
</ul>